{% extends 'blocks/base.html' %}
{% block title %} Change Password! {% endblock %}
{% block content %}
    <div class="d-flex">
        <div class="col-4 col-lg-4"></div>
        <div class="col-4 col-lg-4 pt-lg-5">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-lg w-100" data-toggle="button" aria-pressed="false">
                    Change Password
                </button>
                <br><br>
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </form>
        </div>
        <div class="col-4 col-lg-4"></div>
    </div>


{% endblock %}